<div class="span3">
    {{ form_row(form['title']) }}
</div>
<div class="span3">
    {{ form_row(form['alias']) }}
</div>
<div class="span3">
    {{ form_row(form['is_active']) }}
</div>
<div class="span3 actions"></div>