{% extends_admingenerated "CatalogVideoGalleryBundle:Video_categoryList:row.html.twig" %}

{% block list_td_column_videos %}
    <ul class="thumbnails">
        {% for object in VideoCategory.videos|slice(0, 3) %}
        <li>
            <div class="thumbnail">
                <img src="{{object.getWebPath | apply_filter('100x100_thumb')}}" alt="{{object.title}}"/>
            </div>
        </li>
        {% endfor %}
    </ul>
{% endblock list_td_column_videos %}